@import 'variables';
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/*　デザイン */
html {
    font-size: 62.5%;
    // @include mq(xs) {
    //     font-size: 3.125vw;
    // }
    box-sizing: border-box;
    overflow-x: hidden;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
    font-family: futura-pt,'Avenir Next','Helvetica Neue','Helvetica','Arial', YakuHanJP, 'Noto Sans JP','Hiragino Sans',游ゴシック体, 'Yu Gothic', YuGothic,'ヒラギノ角ゴシック','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic', sans-serif;
    text-size-adjust: 100%;
    font-weight: 500;
    overflow-x: hidden;
}
textarea {
  font-family: futura-pt,'Avenir Next','Helvetica Neue','Helvetica','Arial', YakuHanJP, 'Noto Sans JP','Hiragino Sans',游ゴシック体, 'Yu Gothic', YuGothic,'ヒラギノ角ゴシック','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    line-height: 1.2;
}
p {
    line-height: 2;
    word-wrap: break-word;
    white-space: normal;
}
li,dt,dd,th,td,pre {
    line-height: 1.5;
}
li {
    list-style-type: none;
}
table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    empty-cells: show;
    font: 100%;
    font-size: inherit;
    word-wrap: break-word;
    word-break: break-all;
}
a{
    text-decoration:none;
    transition: .3s;
}
a:hover{
  text-decoration:none;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.clearfix {
    overflow: hidden;
    zoom: 1;
}
img,video {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    width: 100%;
}
.splitting {
  overflow: hidden;
  .word {
    overflow: hidden;
  }
}
.splitting .word,
.splitting .char {
  display: inline-flex;
}
.section-title {
  .char {
    transform: translate3d(0, 110%, 0);
  }
}
.text-animation {
  .char {
    transition: 0.6s;
    transform: translate3d(0, 0, 0);
    transition-delay: calc(var(--char-index) * 0.02s);
  }
}
.el-carousel {
  height: 100%;
  &__indicators {
    display: none;
  }
  &__container {
    height: 100% !important;
  }
  &__arrow {
    background-color: $yellow !important;
    width: 60px !important;
    height: 60px !important;
    color: $black !important;
    border-radius: 0 !important;
    top: auto !important;
    bottom: 0;
    transform: translateY(0) !important;
    &:hover {
      background: $black !important;
      color: #fff !important;
    }
  }
  &__arrow--right {
    right: 0 !important;
  }
  &__arrow--left {
    left: auto !important;
    right: 60px !important;
  }
}

.el-dialog {
  border-radius: 0 !important;
  box-shadow: none !important;
  width: 100% !important;
  max-width: 1000px;
  height: 560px;
  @include mq(md) {
    margin: 0 !important;
    height: 100%;
  }
  &__header {
    padding: 0 !important;
  }
  &__headerbtn {
    z-index: 10;
    font-size: 20px !important;
    padding: 16px !important;
    top: 0 !important;
    right: 0 !important;
  }
  &__body {
    padding: 0 !important;
    color: inherit !important;
    height: 100%;
  }
  &__wrapper {
    padding: 40px;
    height: 100vh;
    @include mq(sm) {
      padding: 20% 16px;
    }
  }
}
.el-dialog__headerbtn .el-dialog__close {
  color: $black !important;
}
