@charset "UTF-8";
/*
Colors
*/
$gray:#f7f7f7;
$black:#1b1b19;
$yellow: #ffec00;

$m-breakpoints: (
  'xs': 'screen and (max-width: 374px)',
  'sm': 'screen and (max-width: 600px)',
  'md': 'screen and (max-width: 800px)',
  'lg': 'screen and (max-width: 1000px)',
  'xl': 'screen and (max-width: 1250px)',
) !default;

@mixin mq($m-breakpoint: md) {
  @media #{map-get($m-breakpoints, $m-breakpoint)} {
    @content;
  }
}

$layers: (
) !default;

@mixin layer($layer-name: middle) {
  z-index :map-get($layers, #{$layer-name});
}

@mixin scaleHover() {
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    transform: translate3d(0, -2px, 0) scale3d(1.02, 1.02, 1);
  }
}
